# App config
PORT=5005
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Database
MONGODB_URI=mongodb://localhost:27015/nostlable

# JWT Secrets
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRY=7d

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Redis Cache (Optional)
REDIS_URL=redis://localhost:6379

# Resend API Configuration
RESEND_API_KEY=re_your_api_key_here
EMAIL_FROM=noreply@nostlable.com

# Initial Admin Credentials
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@nostlable.com
ADMIN_PASSWORD=your_secure_admin_password_here

# OTP Configurations
OTP_EXPIRY_MINUTES=5
OTP_MAX_ATTEMPTS=5
